body {
    grid-area: body;
    background: #343A40;
    color: black;
}

header {
    overflow: hidden;
}

.img-gradient {
    grid-area: header;
    height: auto;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0), rgba(0, 150, 220, 0.5)),
        url(../img/ConnectingTime/ConnectingTime_800.png) 50% 5% no-repeat,
        linear-gradient(145deg, rgba(40, 22, 22, 1), rgba(12, 0, 184, 0.719));
    background-size: contain;
    content: ' (not fixed)';
}

/* === modification de la barre de nav === */
nav {
    grid-area: nav;
    padding: 1em;
    height: 3em;
}

#containerProduct {
    grid-area: container;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 10px;
    column-gap: 10px;
}

footer {
    grid-area: footer;
    background-color: #6C757D;
}

/* config pour ecran < 900px */
@media (max-width: 900px) {
    body {
        display: grid;
        grid-template-rows: 200px auto auto auto;
        grid-template-columns: auto auto auto auto;

        grid-template-areas:
            "header header header header"
            "nav nav nav nav"
            "container container container container"
            "footer footer footer footer"
        ;
    }

    header.img-gradient {
        grid-area: header;
        grid-auto-rows: auto;
        height: 20vh;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0), rgba(0, 150, 220, 0.5)),
            url(../img/ConnectingTime/ConnectingTime_400.png) 50% 5% no-repeat,
            linear-gradient(145deg, rgba(40, 22, 22, 1), rgba(12, 0, 184, 0.719));
        background-size: contain;
        content: ' (not fixed)';
    }
}

/* config pour ecran > 900px */
@media (min-width: 900px) {
    body {
        display: grid;
        grid-template-rows: 200px auto auto 10%;
        grid-template-columns: 10% 1fr 1fr 1fr;

        grid-template-areas:
            "header header header header"
            "nav nav nav nav"
            "container container container container"
            "footer footer footer footer"
        ;
    }

    iframe {
        width: 50em;
        height: 20em;
    }
}